
@media screen and (min-width: 200px){
  .col-half{
    width:50% !important;
  }
}

img{
  display: inline-block;
}

h5{
  font-size: 1em;
}

h4{
  font-size: 1.5em !important;
}

.profileimg{
  display: block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  float: right;
  border: 0.08em solid white;
}
.userdetails{
  padding: 25px 5px 2px;
  background: #209090;
}

.userdetails p{
  color:white;
}

.userdetails p.username{
  font-size: 1.4em;
  margin-bottom: 0.5em;
}
.userdetails p.userdata{
  font-size:0.8em;
  color:#f5f4f4;
}

.userdetails .left-col{
  margin-top: 1em;
}

.searchbox{
  margin: 0 15px;
  height: calc(2.5em + .75rem + 2px) !important; 
}

.searchbox::placeholder{
  color:grey !important;
  opacity: 0.5 !important;
}

.searchbox-container i{
  position: absolute;
    right: 0px;
    font-size: 1em;
    margin: 1.2em .75em 0 0;
    padding-right: 15px;
    color: grey;
    opacity: 0.7;
}
.searchbox-container{
  position: relative;
}


.joblisting, .citylisting{
  margin:5px 0;
  padding: 25px 15px 2px;
}

.joblistingheader{
  display: flex;
  align-items: center;
}

.joblistingheader h5, .joblistingheader p{
  display: block;
  margin-bottom:0;
  margin-left:6%;
}

.joblistingheader div{
  flex: 1 1 80%;
}

.joblistingheader a{
  flex:0 1 auto;
}

.joblistingheader p, .jobcard p{
  color: #96999bfc;
  font-size: 0.7em;
}

.color-cyan{
  color: #209090;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
}

.joblist{
  margin-top:1em;
}

.jobcard{
  border: 1px solid #dee2e6;
  box-shadow: -1px 2px #cbcfd480;
  border-radius: 1.5%;
  padding: 1em 1em 0;
  width: 95%;
  flex: 0 0 auto;
  margin-right: 0.5em;
}
.jobheader{
  display: flex;
}

.jobheaderleft{
  flex:1 1 auto;
}

.jobphotocontainer{
  flex: 0 1 auto;
}

.jobcard h5, .jobcategorylisting h5{
  font-size: 1em;
}

.jobcard img{
  border-radius:10%;
}

.jobdetail p{
  font-size: 0.8em;
}

.jobdetail p i{
  margin-right: 1em;
  color: #6f7477fc;
}
.jobtimestamp{
  float: right;
  margin-bottom: 0.5em;
}

.joblist{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}


.jobcategorylisting{
  background: #ffa500b0;
  margin-top:20px;
}

.jobcategorylisting h5{
  padding: 1em 0 0.8px 1em;
}

.categorycardlisting{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 1.5em;
  padding: 0 0 1em 1.5em;
}

.jobcategory .categorycardlisting{
  padding-bottom: 0.2em;
  margin-top: 1em;
  padding-left: 0;
}

.whatsappalert{
  margin: 1em 1.8em 1em 1em;
    padding: 1em 1.5em 1.2em;
    border: 1px solid #43494f;
    box-shadow: -1px 2px #cbcfd480;
    border-radius: 1.5%;
    display: flex;
    align-items: center;
}

.whatsappalert h5{
  text-shadow: 0px 0px 1px #2d2727;
}


.whatsappalert p{
  color: #96999bfc;
    font-size: 1.1em;
    text-shadow: 0px 0px 1px #7b8082fc;
}


.joblist .listcontainer{
  flex:0 0 auto;
  margin-right: 1em;
}

.listcontainer img{
  border-radius: 7%;
}
.listcontainer .cityname{ 
  margin-top: 0.7em;
  margin-bottom: 0;
  text-shadow: 1px 0px 1px #131313d6;
}
.listcontainer .cityjobcount{
  margin-bottom: 0;
  color: grey;
  font-size: 0.7em;
}

footer{
  display: flex !important;
  padding: 2% 10%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 0px 7px #8080804d;
  border-radius: 3% 3% 0 0;
  text-transform: uppercase;
}

footer div{
  flex: 0 0 33%;
    max-width: 33%;
    margin: 0 5%;
    text-align: center;
    cursor: pointer;
}

footer div img{
  opacity:0.5;
}

footer div p{
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 0.7em;
  text-shadow: 0 0 1px #a09595;
  color: #808080ab;
  
}
footer div.active p{
  text-shadow: 0 0 1px #393535 !important;
  color: black !important;
}

footer div.active img{
  opacity: 1 !important;
}

.rightcontent{
  flex: 0 1 50%;
    text-align: center;
}
.rightcontent img{
  height: 100%;
    width: 100%;
    max-width: 100px;
    max-height: 100px;
}
.leftcontent{
  max-width: 50%;
    flex: 1 0 50%;
}